.vertical {
    width: 5px;
    height: 5px;
    border-bottom: 30px solid #1e2f67;
    border-radius: 10px;
    margin: 5px auto;
}

.horizontal {
    width: 30px;
    height: 5px;
    border-bottom: 5px solid #1e2f67;
    border-radius: 10px;
    margin: 5px;
}