@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

$color__button: #00CE9E;
$color__main: #F7F7FA;
$color__background: #FCFDFF;
$color__header-background: #DDFFF7;
$color__site: #385fe2;
$font__family: "Josefin Sans",
sans-serif;
$font__descriptions: "Rubik",
sans-serif;
$font__sub-title: "Rubik Medium",
sans-serif;


body {
    overflow-x: hidden;
    position: relative;
}

.content {
    margin-top: 75px;
}

.container,
.container-fluid {
    margin-top: 150px;
    // position: relative;
}

#app {
    background-color: $color__background;

    .container:first-child {
        margin-top: 0;
    }
}

.person-avatar {
    width: 140px;
    max-height: 140px;
}

@media only screen and (max-width: 768px) {
    .person-avatar {
        margin-top: 50px;
    }

    .content:not(.how-it-works .content) {
        margin-top: 0;
    }

    .circle {
        display: none
    }
}