$color__button: #00CE9E;
$color__main: #F7F7FA;


.content {
    margin-top: 75px;
}

.container, .container-fluid {
    margin-top: 150px;
}

#app .container:first-child {
    margin-top: 0;
}

.person-avatar {
    width: 80px;
    max-height: 80px;
  }