@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;1,900&display=swap');

$color__button: #00CE9E;
$color__main: #F7F7FA;
$color__background: #FCFDFF;
$color__site: #385fe2;
$font__family: "Josefin Sans", sans-serif;
$font__descriptions: "Rubik", sans-serif;
$font__sub-title: "Rubik Medium", sans-serif;


.content {
    margin-top: 75px;
}

.container,
.container-fluid {
    margin-top: 150px;
}

#app .container:first-child {
    margin-top: 0;
}

.person-avatar {
    width: 80px;
    max-height: 80px;
}

.medium-font {
    font-family: "Black" 16px/57px Rubik;
}